<ons-toolbar>
  <div class="left">
    <ons-back-button *ngIf="this.navigator.element != this.navigator.element.topPage">
      Back
    </ons-back-button>
  </div>

  <div class="center">
    {{title}}
    <ons-toolbar-button>
      <ons-icon icon="md-info" class="right" onclick="showHelpDialog()"></ons-icon>
    </ons-toolbar-button>
  </div>

  <div class="right">
    <ons-toolbar-button>
      <ons-icon icon="md-settings" class="right" onclick="showHelpDialog()"></ons-icon>
    </ons-toolbar-button>
  </div>
</ons-toolbar>
